@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}
body {
    background-image: linear-gradient(to bottom,#540183,#3c005f);
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.saida {
    font-family: monospace;
    font-size: 0.4em;
    font-weight: bolder;
}